<nav>
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <img class="circle" src="{{site.data.resume.profile}}">
        <div class="iconized-info-panel">
          <div class="white-text iconized-info name"><span class="icon">{{site.data.resume.name}}</div>
          <div class="white-text iconized-info"><span class="icon"><i class="material-icons">email</i></span>{{site.data.resume.email}}</div>
          <div class="white-text iconized-info"><span class="icon"><i class="material-icons">today</i></span>{{site.data.resume.dateOfBirth}}</div>
          <div class="white-text iconized-info"><span class="icon"><i class="material-icons">my_location</i></span>{{site.data.resume.location}}</div>
        </div>
      </div>
    </li>

    <li><a class="waves-effect waves-secondary" href="#summary"><i class="material-icons">contact_mail</i>Summary</a></li>
    <li><a class="waves-effect waves-secondary" href="#awards"><i class="material-icons">military_tech</i>Awards & Recognitions</a></li>
    <li><a class="waves-effect waves-secondary" href="#publications"><i class="material-icons">library_books</i>Publications</a></li>
    <li><a class="waves-effect waves-secondary" href="#education"><i class="material-icons">school</i>Education</a></li>
    <li><a class="waves-effect waves-secondary" href="#cv"><i class="material-icons">insert_drive_file</i>Curriculum Vitae</a></li>

    <li><div class="divider"></div></li>

    <li><a class="subheader">Social</a></li> <!-- Had to use font awesome, since MaterialIcons do not have social icons-->
    <li><a class="waves-effect waves-secondary" href="{{site.data.resume.twitter}}"><i class="fab fa-2x fa-twitter"></i>Twitter</a></li>
    <li><a class="waves-effect waves-secondary" href="{{site.data.resume.github}}"><i class="fab fa-2x fa-github"></i>Github</a></li>
    <li><a class="waves-effect waves-secondary" href="{{site.data.resume.linkedin}}"><i class="fab fa-2x fa-linkedin"></i>LinkedIn</a></li>
    <li><a class="waves-effect waves-secondary" href="{{site.data.resume.googleScholar}}"><i class="ai ai-2x ai-google-scholar"></i>Google Scholar</a></li>
    <li><a class="waves-effect waves-secondary" href="{{site.data.resume.researchGate}}"><i class="ai ai-2x ai-researchgate"></i>Research Gate</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</nav>