/**********************************
 ************** BASE **************
 **********************************/

body
  width: 100%
  height: 100%
  color: $text-text
  background-color: $background-color

  header
  main
  footer
    margin-left: 320px

  h1
    color: $primary-color

  h2
    color: $secondary-color

  .waves-effect.waves-secondary
    .waves-ripple
      background-color: $secondary-color;
