/*********************************
 ********* COLOR PALETTE *********
 *********************************/

$primary-color = #3771ad
$primary-color-light = #6d9fdf
$primary-color-dark = #00467d
$secondary-color = #ffc107
$secondary-color-light = #fff350
$secondary-color-dark = #c79100
$text-color = #ffffff
$primary-text = #212121
$secondary-text = #757575
$divider-color = #bdbdbd
$background-color = #fcfcfc
