/********************************
 ************* HOME *************
 ********************************/

.home
  .side-nav
    width: 320px

    .userView
      background-color: $primary-color
      display: flex
      flex-direction: column

      .iconized-info
        justify-content: space-between

      .circle
        height: 140px
        width: 140px
        display: block
        margin: auto
        border: 3px solid $secondary-color

  .container
    .timeline
      position: relative

      .timeline-event
        position: relative
        padding-top: 5px
        padding-bottom: 5px

        .timeline-content
          position: relative
          width: calc(50% - 50px)

        &::before
          display: block
          content: ""
          width: 2px
          height: calc(50% - 30px)
          position: absolute
          background: $divider-color
          left: calc(50% - 1px)
          top: 0

        &::after
          display: block
          content: ""
          width: 2px
          height: calc(50% - 30px)
          position: absolute
          background: $divider-color
          left: calc(50% - 1px)
          top: calc(50% + 30px)

        &:first-child::before
          display: none

        &:last-child::after
          display: none

        &:nth-child(even)
          .timeline-content
            margin-left: calc(50% + 50px)

        &:nth-child(odd)
          .timeline-content
            margin-left: 0

      .timeline-badge
        display: block
        position: absolute
        width: 40px
        height: 40px
        background: $secondary-color
        top: calc(50% - 20px)
        right: calc(50% - 20px)
        border-radius: 50%
        text-align: center
        cursor: default

        i
          font-size: 25px
          line-height: 40px

      .card-reveal
        .education-entry-info
          line-height: 1
          margin: 5px 0

@media (max-width: 600px)
  .timeline
    .timeline-event
      .timeline-content
        width: calc(100% - 70px)

      &::before
        left: 19px

      &::after
        left: 19px

      &:nth-child(even)
        .timeline-content
          margin-left: 70px

      &:nth-child(odd)
        .timeline-content
          margin-left: 70px

    .timeline-badge
      left: 0
