body {
  width: 100%;
  height: 100%;
  color: $secondary-text;
  background-color: $background-color;
  font-family: 'DM Sans', serif;

  .footer {
    width: 100%;
    height: 300px;
    background-color: $primary-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $primary-text;
    font-family: 'DM Serif Display', serif;
  }

  a {
    text-decoration: underline;
  }

  a,
  p {
    color: $secondary-text;
    text-align: justify;
  }

  .btn:hover,
  .btn:active {
    background-color: $secondary-color;
  }

  nav {
    background-color: transparent;
    box-shadow: none;
  }

  .justify {
    text-align: justify;
  }

  .accent-text {
    color: $secondary-color;
  }

  h1 {
    color: $primary-color;
  }
  h2 {
    color: $secondary-color;
  }

  .btn,
  .btn-floating {
    background-color: $primary-color;
    color: $primary-text-dark;
    text-transform: none;

    &:focus {
      background-color: $secondary-color;
    }
    &:hover {
      background-color: $secondary-color;
    }
    &::after {
      background-color: $secondary-color;
    }
  }
  .waves-effect {
    &.waves-secondary {
      .waves-ripple {
        background-color: $primary-color;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #f00;
}

@media screen and (min-width: 1366px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  body {
    header,
    main,
    footer {
      padding: 0;
    }

    nav {
      background-color: $primary-color;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
  }
}

@media screen and (max-width: 330px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
}
