/*********************************
 ********* COLOR PALETTE *********
 *********************************/

$primary-color: #212121;
$primary-color-light: #484848;
$primary-color-dark: #000000;
$secondary-color: #0e86d4;
$secondary-color-light: #68bbe3;
$secondary-color-dark: #003060;
$text-color: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;
$background-color: #fafafa;
