/*********************************
 ********* COLOR PALETTE *********
 *********************************/

$primary-color: #151515;
$secondary-color: #7b7c7c;
$primary-text: #151515;
$secondary-text: #434341;
$primary-text-dark: #e0e3e2;
$border-color: #d4d4d5;
$background-color: #e5e5e5;
