.home {
  .sidenav {
    width: 320px;
    max-width: 90%;
    height: 100%;

    .user-view {
      background-color: $primary-color;
      display: flex;
      flex-direction: column;

      .iconized-info {
        justify-content: space-between;
        &.name {
          font-size: 24px;
          margin-bottom: 10px;
          text-align: center;
        }
      }

      .circle {
        height: 140px;
        width: 140px;
        display: block;
        margin: auto;
        border: 3px solid $secondary-color;
      }
    }
  }

  .container {
    margin-top: -60px;

    .section {
      padding: 0;
    }

    #summary {
      text-align: justify;
    }

    .awards {
      display: flex;

      .card {
        max-width: 380px;
      }

      .card-image {
        img {
          max-height: 300px;
          object-fit: cover;
        }
      }
    }

    .timeline {
      position: relative;

      .timeline-event {
        position: relative;
        padding: 5px 0;
        &:not(:first-child) {
          margin-top: -100px;
        }

        .card-image {
          img {
            height: 300px;
            object-fit: cover;
          }
        }

        .timeline-content {
          position: relative;
          width: calc(50% - 50px);
          max-width: 450px;

          .iconized-info-panel {
            .iconized-info {
              margin: 8px 0;
            }
          }
        }
        &::before {
          display: block;
          content: '';
          width: 2px;
          height: calc(50% - 30px);
          position: absolute;
          background: $divider-color;
          left: calc(50% - 1px);
          top: 0;
        }
        &::after {
          display: block;
          content: '';
          width: 2px;
          height: calc(50% - 30px);
          position: absolute;
          background: $divider-color;
          left: calc(50% - 1px);
          top: calc(50% + 30px);
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &:nth-child(even) {
          .timeline-content {
            margin-left: calc(50% + 50px);
          }
        }
        &:nth-child(odd) {
          .timeline-content {
            margin-left: calc(50% - 500px);
          }
        }
      }

      .timeline-badge {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: $secondary-color;
        top: calc(50% - 20px);
        right: calc(50% - 20px);
        border-radius: 50%;
        text-align: center;
        cursor: default;
        i {
          font-size: 25px;
          line-height: 40px;
        }
      }

      .card-reveal {
        .education-entry-info {
          line-height: 1;
          margin: 5px 0;
        }
      }
    }

    .publications {
      .publication {
        display: flex;
        padding: 10px;

        .icon {
          color: $secondary-color;
          margin: auto 10px auto 0;

          .material-icons {
            font-size: 64px;

            &.small {
              font-size: 24px;
              vertical-align: -5px;
            }
          }
        }

        .info {
          width: 100%;
          font-size: 18px;

          .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }

    .curriculum-vitae {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .download {
        margin: 2.3733333333rem 0 1.424rem 0;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .home {
    .container {
      .timeline {
        .timeline-event {
          padding: 10px 0;
          &:not(:first-child) {
            margin-top: 0;
          }

          .timeline-content {
            width: calc(90% - 70px);
          }
          &::before {
            left: 50px;
          }
          &::after {
            left: 50px;
          }
          &:nth-child(even) {
            .timeline-content {
              margin-left: 80px;
            }
          }
          &:nth-child(odd) {
            .timeline-content {
              margin-left: 80px;
            }
          }
        }

        .timeline-badge {
          left: 31px;
        }
      }

      .publications {
        .publication {
          .icon {
            margin: auto 5px auto 0;
          }

          .info {
            text-align: justify;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    .container {
      margin-top: 0;
    }
  }

  @media screen and (max-width: 559px) {
    .home {
      .container {
        .caption {
          font-size: 16px;
        }

        .timeline {
          .timeline-event {
            .timeline-content {
              width: calc(100% - 30px);
            }
            &::before {
              left: 5px;
            }
            &::after {
              left: 5px;
            }
            &:nth-child(even) {
              .timeline-content {
                margin-left: 30px;
              }
            }
            &:nth-child(odd) {
              .timeline-content {
                margin-left: 30px;
              }
            }

            .card-image {
              img {
                height: 200px;
                object-fit: cover;
              }
            }
          }

          .timeline-badge {
            left: -15px;
          }
        }

        .publications {
          .publication {
            flex-direction: column;
            align-items: center;

            .flex {
              flex-direction: column-reverse;
            }

            .icon {
              margin: auto 5px auto 0;

              .material-icons {
                font-size: 96px;
              }
            }

            .info {
              text-align: justify;
              font-size: 16px;
            }
          }
        }

        .curriculum-vitae {
          .download {
            margin: auto;
          }
        }
      }
    }
  }
}
