.home {
  margin: 100px 150px;

  h1 {
    max-width: 200px;
    font-size: 64px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .caption {
    font-size: 18px;
    margin: 3.8rem 0 1.68rem 0;
  }

  .top-row {
    margin-bottom: 80px;
  }

  .project-icon {
    margin: 5px;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 14px;
    display: flex;
    align-items: center;

    img {
      width: 64px;
      height: 64px;
    }
  }

  .download {
    width: 220px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;

    svg {
      height: 18px;
    }
  }

  .iconized-info-panel {
    display: flex;
    flex-wrap: wrap;
  }

  .iconized-info {
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 20px;

    .icon {
      width: 36px;
      height: 36px;
      border-radius: 14px;
      margin-right: 10px;
      text-align: center;
      color: $primary-text-dark;
      background-color: $primary-color;
      display: flex;
      align-items: center;

      i {
        display: block;
        margin: auto;
      }

      svg {
        height: 18px;
        display: block;
        margin: auto;
      }
    }
  }

  .container {
    .section {
      padding: 0;
    }

    .card {
      max-width: 300px;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: inherit;

      .card-content {
        padding: 10px;
      }

      .card-image {
        img {
          max-height: 200px;
          object-fit: cover;
        }
      }
    }

    .awards,
    .projects {
      display: flex;
    }

    .timeline {
      position: relative;

      .timeline-event {
        position: relative;
        padding: 5px 0;
        &:not(:first-child) {
          margin-top: -100px;
        }

        .timeline-content {
          position: relative;
          width: calc(50% - 50px);
          max-width: 450px;

          .iconized-info-panel {
            .iconized-info {
              margin: 8px 0;
            }
          }
        }
        &::before {
          display: block;
          content: '';
          width: 2px;
          height: calc(50% - 30px);
          position: absolute;
          background: $secondary-color;
          left: calc(50% - 1px);
          top: 0;
        }
        &::after {
          display: block;
          content: '';
          width: 2px;
          height: calc(50% - 30px);
          position: absolute;
          background: $secondary-color;
          left: calc(50% - 1px);
          top: calc(50% + 30px);
        }
        &:first-child {
          &::before {
            display: none;
          }
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        &:nth-child(even) {
          .timeline-content {
            margin-left: calc(50% + 50px);
          }
        }
        &:nth-child(odd) {
          .timeline-content {
            margin-left: calc(50% - 500px);
          }
        }
      }

      .timeline-badge {
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        border: 2px solid $secondary-color;
        top: calc(50% - 20px);
        right: calc(50% - 20px);
        border-radius: 50%;
        align-items: center;

        .current {
          display: block;
          width: 18px;
          height: 18px;
          background-color: $secondary-color;
          border-radius: 50%;
          margin: 0 auto;
        }
      }
    }

    .publications {
      > .publication:nth-child(odd) {
        border: 1px solid $border-color;
        border-radius: 2px;
      }

      .publication {
        display: flex;
        padding: 10px;

        .title {
          padding-bottom: 8px;
        }

        .pub-info {
          font-size: 14px;
        }

        .award {
          padding-bottom: 8px;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            height: 16px;
          }
        }

        .info {
          width: 100%;
          font-size: 18px;
        }

        .flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .home {
    margin: 100px 100px;

    .container {
      .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;

        .timeline-event {
          padding: 10px 0;
          &:not(:first-child) {
            margin-top: 0;
          }

          .timeline-content {
            width: calc(90% - 70px);
          }
          &::before {
            left: 50px;
          }
          &::after {
            left: 50px;
          }
          &:nth-child(even) {
            .timeline-content {
              margin-left: 80px;
            }
          }
          &:nth-child(odd) {
            .timeline-content {
              margin-left: 80px;
            }
          }
        }

        .timeline-badge {
          left: 31px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .home {
    margin: 100px 50px;
  }
}

@media screen and (max-width: 559px) {
  .home {
    margin: 100px 25px;

    .iconized-info-panel {
      flex-direction: column;
    }

    .container {
      .timeline {
        .timeline-event {
          .timeline-content {
            width: calc(100% - 30px);
          }
          &::before {
            left: 5px;
          }
          &::after {
            left: 5px;
          }
          &:nth-child(even) {
            .timeline-content {
              margin-left: 30px;
            }
          }
          &:nth-child(odd) {
            .timeline-content {
              margin-left: 30px;
            }
          }

          .card-image {
            img {
              height: 200px;
              object-fit: cover;
            }
          }
        }

        .timeline-badge {
          left: -15px;
        }
      }

      .publications {
        .publication {
          flex-direction: column;
          align-items: center;

          .flex {
            flex-direction: column-reverse;
          }

          .icon {
            margin: auto 5px auto 0;

            .material-icons {
              font-size: 96px;
            }
          }

          .info {
            text-align: justify;
            font-size: 16px;
          }
        }
      }
    }
  }
}
