---
layout: default
---
<div class="home">
  <main>
    <div class="container">
      <div id="summary" class="row section scrollspy">
        <div class="row top-row">
          <div class="col l4 s12">
            <h1>{{ site.data.resume.name }}</h1>
          </div>
          <div class="col l7 offset-l1 s12">
            <p class="caption">
              {{ site.data.resume.summary }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col l4 s12">
            <a target="_self" href="/assets/files/cv.pdf" download="asjacobs-cv.pdf" class="download waves-effect waves-secondary btn">
              curriculum vitae <i data-feather="download"></i>
            </a>
          </div>
          <div class="col l7 offset-l1 s12 iconized-info-panel">
            <div class="iconized-info"><span class="icon"><i data-feather="mail"></i></span>{{site.data.resume.email}}</div>


            <div class="iconized-info">
              <span class="icon"><i data-feather="linkedin"></i></span>
              <a class="waves-effect waves-secondary" href="{{site.data.resume.linkedin}}">/asjacobs92</a>
            </div>

            <div class="iconized-info">
              <span class="icon"><i data-feather="github"></i></span>
              <a class="waves-effect waves-secondary" href="{{site.data.resume.github}}">/asjacobs92</a>
            </div>

            <div class="iconized-info">
              <span class="icon"><i class="ai ai-lg ai-google-scholar"></i></i></span>
              <a class="waves-effect waves-secondary" href="{{site.data.resume.scholar}}">/asjacobs</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col l4 s12">
          <div id="awards" class="row section scrollspy">
            <h4>Awards & Recognition</h4>
            <div class="awards">
              {% assign sorted_awards = site.data.resume.awards | sort: 'year' | reverse %}
              {% for entry in sorted_awards %}
              <div class="card">
                <div class="card-image">
                  <img src="{{entry.image}}">
                </div>
                <div class="card-content">
                  <a href="{{ entry.url }}"><span class="card-title grey-text text-darken-4"><b>{{entry.year}}</b> {{entry.title}}</span></a>
                  <p class="justify">{{entry.description}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>


        </div>
        <div class="col l7 offset-l1 s12">
          <div id="publications" class="row section scrollspy">
            <h4>Selected Publications</h4>
            <div class="publications">
              {% assign sorted_pubs = site.data.resume.publications | sort: 'year' | reverse %}
              {% for entry in sorted_pubs %}
              <div class="publication">
                <div class="info">
                  <div class="pub-header">
                    <div class="title">
                      {% if entry.doi %}
                      <a href="{{ entry.doi }}"><b>{{entry.title}}</b></a>
                      {% else %}
                      <b>{{entry.title}}</b>
                      {% endif %}
                    </div>

                    <!-- {% if entry.url %}
                      <span><a href="{{entry.url}}" target="_blank"><i data-feather="external-link""></i> Project website</a></span>
                      {% endif %} -->

                    {% if entry.award %}
                    <span class="award"><i data-feather="star"></i>{{ entry.award }}</span>
                    {% endif %}
                  </div>

                  <div class="pub-info">{{entry.authors}}</div>
                  {% if entry.type == "journal" %}
                  <div class="pub-info">{{entry.journal}}, {% if entry.doi %}<span>Volume {{entry.volume}},</span>{% endif %} {% if entry.doi %}<span>pages {{entry.pages}},</span>{% endif %}
                    {{entry.year}}</div>
                  {% else %}
                  <div class="pub-info">{{entry.conference}}, {{entry.location}}, {{entry.year}}.</div>
                  {% endif %}

                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div id="projects" class="row section scrollspy">
            <h4>Projects</h4>
            <div class="projects">
              {% for entry in site.data.resume.projects %}
              <a href="{{entry.url}}" target="_blank" rel="noopener noreferrer">
                <div class="project-icon">
                  <img src="{{entry.logo}}">
                </div>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>


      <div id="education" class="row section scrollspy">
        <div class="col s12">
          <h4>Education</h4>
          <div class="timeline">
            {% for entry in site.data.resume.education %}
            <div class="timeline-event">
              <div class="card timeline-content">
                <div class="card-image waves-effect waves-light">
                  <img class="activator" src="{{entry.image}}">
                </div>
                <div class="card-content">
                  <span class="card-title">
                    {{entry.title}}
                  </span>
                  <p>{{entry.institution}}</p>
                  <p><b>{{entry.startDate}} &mdash; {{entry.endDate}}</b></p>
                  <br />
                  <p>{{entry.description}}</p>
                </div>
              </div>
              <div class="timeline-badge">
                {% if forloop.first %}
                <div class="current"></div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </main>
</div>